* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f6f6;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.1;
  font-weight: 400;
  font-style: normal;
}
a, .link-articulo{
  text-decoration: none;
  cursor: pointer;
  color: #3f4a6e;
}
a:hover, svg:hover, .link-articulo:hover{
    color: #8bd4d0;
    fill: #8bd4d0;
}
svg{
  width: 14px;
  height: 14px;
  fill: #3f4a6e;
  cursor: pointer;
}
p{
  color: #1e2335;
  font-size: 15px;
  line-height: 1.5;
}
h1,h2,h3,h4,h5,h6{
  color: #f3f3f3;
}
ul {
  padding: 0;
  list-style: none;
}

input, textarea{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  font-size: normal;
}

input{
  appearance: none;
  border: 2px solid #1e2335;
  width: 100%;
  height: 100%;
  padding: 0.3125rem;
}

input:focus{
  border-color: inherit; 
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

textarea{
  appearance: none;
  outline: none;
  resize: none;
  overflow: hidden;
  height: 80px;
  width: 960px;
  border: 2px solid #1e2335;
}

.post-img{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 180%;
  cursor: pointer;
  transition: ease-in 150ms;
}

.post-img.random-pic{
  width: 72px;
  height: 72px;
}

.post-img:hover{
  background-size: 250%;
  opacity: 0.7;
}

.post-icon{
  width: 16px;
  height: 16px;
  fill: #1e2335;
}

.post-title{
  margin-bottom: 10px;
  font-weight: 500;
}

.post-title.for-blog-page, 
.post-title.for-sidebar{
  font-size: 20px;
}

.for-sidebar:hover{
  color: #1e2335 !important;
  cursor: default !important;
}

.post-tags{
  display: grid;
  grid-template-rows: [tags] auto;
  justify-items: center;
  justify-content: start;
  column-gap: 5px;
}

.home-tags li,
.postTagsOnBlogPage li{
  grid-row-start: tagsGrid;
}

.post-sneak{
  font-size: 13px;
  font-weight: normal;
}

.post-link, .post-title, .post-sneak, .post-icon{
  color: #1e2335;
  fill: #1e2335;
}

.post-title:hover{
  cursor: pointer;
  color: #768f9f;
}

.post-link:hover .post-icon{
  color: #768f9f;
  fill: #768f9f;
}

.button{
  width: 125px;
  height: auto;
  padding: 15px 10px;
  font-size: 14px;
  text-align: center;
  color: #1e2335;
  border: 2px solid #1e2335;
  transition: ease-in 150ms;
}

.button:hover{
  color: #f6f6f6;
  background-color: #3f4a6e;
  border-color: #1e2335;
}

.button.ghost{
  border-color: #f6f6f6;
  color: #f6f6f6;
  transition: ease-in 150ms;
}

.button.ghost:hover{
  border-color: #f6f6f6;
  color: #f6f6f6;
  background-color: #3f4a6e;
}

.button.button-big{
  width: 155px;
  padding: 20px 15px;
  font-size: 18px;
}

h4.cuarto-nivel{
  font-size: 16px;
  font-weight: 400;
}

.mrgbottom-10px{
  margin-bottom: 10px; 
}

.mrgbottom-5px{
  margin-bottom: 5px;
}

.footer-link{
  color: #f6f6f6;
  font-size: 14px;
  line-height: 24px;
}
.footer-link:hover{
  color: #8bd4d0;
}

.topic-links{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-position: inside;
  width: 140px;
}

.hero-general{
  height: 400px;
  background-image: url(../img/hero_img.jpg);
  background-position: 35% 75%;
  background-size: 120%;
  display: grid;
  grid-template-columns: [heroMainArea] 100vw;
  grid-template-rows: [heroTitle] 150px [HeroSubTitle] 195px;
  justify-items: center;
  align-items: center;
  row-gap: 10px;
}

.hero-title{
  grid-column-start: heroMainArea;
  grid-row-start: heroTitle;
  align-self: end;
  font-size: 50px;
  font-weight: normal;
}

.hero-subtitle{
  grid-column-start: heroMainArea;
  grid-row-start: heroSubtitle;
}

.tags-list{
  align-self: start;
  display: grid;
  grid-template-rows: [tagsListGrid] auto;
  justify-items: center;
  column-gap: 50px;
  justify-content: center;
}

.tags-list > li{
  grid-row-start: tagsListGrid;
}

.tags-icon{
  fill: #f6f6f6;
  width: 12px;
  height: 12px;
}

.tags-link{
  font-size: 14px;
  color: #f6f6f6;
}

.tags-link:hover .tagS-icon{
  color: #8bd4d0;
  fill: #8bd4d0;
}

.article-content > h1, 
.article-content > h2, 
.article-content > h3, 
.article-content > h4,
.article-content > h5,
.article-content > h6 {
  color: #1e2335;
  font-weight: 600
}

.article-content > h1{
  font-size: 30px;
} 
.article-content > h2{
  font-size: 26px;
}
.article-content > h3{
  font-size: 20px;
}
.article-content > h4{
  font-size: 18px;
}
.article-content > h5{
  font-size: 16px;
}
.article-content > h6{
  font-size: 14px;
}

.article-content > p > a{
  text-decoration: underline !important;
}
/*responsivos*/
[data-actor='abrirMenuRepoms'],
[data-actor='cerrarMenuRespons']{
 display: none;
}
.anularScroll{
  overflow: hidden;
}
.menuRespons{
  display: none;
  background-color: #3f4a6e;
  position: fixed;
  height: 100vh;
  width: 50%;
  float: right;
  left: -50%;
  transition: 150ms ease-in;
  overflow-y: scroll;
  overflow-x: hidden;
}
.enlaceRespons {
  font-size: 20px;
  color: #f6f6f6;
  margin-left: 5px;
  transition: 150ms ease-in;
  border-bottom: 1px solid transparent;
}
.enlaceRespons:hover {
  border-bottom: 1px solid #8bd4d0;
}

.elemLinks{
  margin: 10px 0;
}
/* Pagina de inicio*/
.bar {
  background-color: #3f4a6e;
  height: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 40px [barElIzq] auto auto [barElDer] auto 40px;
}
.barLink{
  color: #f6f6f6;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  transition: ease-in 100ms;
}
.barLink:hover{
  border-bottom-color: #8bd4d0;
}
[data-icon="SearchBtn"]{
  fill: #f6f6f6;
  transition: ease-in 100ms;
}
[data-icon="SearchBtn"]:hover{
  fill: #8bd4d0;
}
.bar-elements-right {
  grid-column-start: barElDer;
  align-self: center;
  justify-self: end;
}

.bar-elements-left {
  grid-column-start: barElIzq;
  align-self: center;
}
.bar-elements-right > a{
  margin-left: 15px;
}

.search-box{
  display: none;
  z-index: 2;
  top: 15px;
  right: 40px;
  width: 0;
  position: absolute;
}
.hero {
  height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: [heroMainCol] auto;
  grid-template-rows: [mainTitle] auto 10px [subTitle] auto;
  background-image: url(../img/hero_img.jpg);
  background-position: 35% 75%;
  background-size: 120%;
  align-items: center;
  justify-items: center;
}

.hero > h1{
  grid-column-start: heroMainCol;
  grid-row-start: mainTitle;
  align-self: end;
  font-size: 50px;
  font-weight: normal;
}

.hero > h2 {
  grid-column-start: heroMainCol;
  grid-row-start: subTitle;
  align-self: start;
  font-size: 25px;
  font-weight: lighter;
}

.about {
  height: 450px;
  width: 100%;
  background-color: #3f4a6e;
  display: grid;
  grid-template-columns: [authorPic] 500px 10px [authorInfo] 500px;
  align-items: center;
  justify-content: center;
}

.author {
  grid-column-start: authorPic;
  justify-self: end;
  height: 100%;
  width: 85%;
  background-image: linear-gradient(
      to right,rgb(63, 74, 110), rgba(255 255 255/ 0%)),url(../img/A.jpg);
  background-position: 100% 36%;
  background-size: 95%;
  background-repeat: no-repeat;
  background-color: #3f4a6e;
}
.author_info{
  grid-column-start: authorInfo;
  justify-self: start;
}

.author_info > h1{
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: normal;
}

.author_info > p{
  color: #f6f6f6;
  font-size: 18px;
  font-weight: 100;
  margin-right: 20px;
}
.blog {
  display: grid;
  justify-items: center;
  grid-template-columns: 50px [blog-content] auto 50px;
  grid-template-rows: 40px [blog-header] auto 40px [blog-posts] auto 40px [blog-cta] auto 40px;
}

.blog > h1 {
  color: #1e2335;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  grid-column-start: blog-content;
  grid-row-start: blog-header;
}

.home-posts{
  grid-column-start: blog-content;
  grid-row-start: blog-posts;
  width: 100%;
  display: grid;
  grid-template-rows: [postsMainRow] 440px;
  justify-items: center;
  justify-content: space-evenly;
}

.home-post{
  grid-row-start: postsMainRow;
  width: 260px;
  height: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 10px [post-centre] auto 10px;
  grid-template-rows: 10px [home-post-img] 240px 10px [post-tags] 25px 10px [post-shortinf] auto;
}

.post-img.onHomePage{
  width: 240px;
  height: 240px;
  grid-column-start: post-centre;
  grid-row-start: home-post-img;
}

.post-tags.home-tags{
 grid-column-start: post-centre;
 grid-row-start: post-tags; 
}

.post-short {
  justify-self: start;
  grid-column-start: post-centre;
  grid-row-start: post-shortinf;
}

#ctaBlogSM{
  grid-column-start: blog-content;
  grid-row-start: blog-cta;
}

.contact-ribbon{
  width: 100%;
  height: 150px;
  background-color: #768f9f;
  display: grid;
  grid-template-columns: 50px [mainColNribb] auto 50px;
  grid-template-rows: [conTtitle] auto 20px [conSubTitle] auto;
  align-items: center;
  align-content: center;
}

.contact-ribbon > h1{
  grid-column-start: mainColNRibb;
  grid-row-start: conTtitle;
  font-size: 45px;
  font-weight: 750;
}
.contact-ribbon > h2{
  grid-column-start: mainColNRibb;
  grid-row-start: conSubTtitle;
  font-size: 20px;
  font-weight: lighter;
}

#contactCTA{
  grid-column-start: mainColNRibb;
  grid-row-start: conTtitle;
  grid-row-end: 4;
  justify-self: end;
}
.footer {
  background-color: #3f4a6e;
  height: 160px;
  width: 100%;
  display: grid;
  grid-template-columns: 120px [fShortMenu] auto [fSocialNets] auto [fLastVid] auto [fTopics] auto 120px;
  grid-template-rows: 20px [fMainRow] auto 20px;
  justify-items: center;
  justify-content: space-between;
}

.footer-menu {
  width: 145px;
  grid-column-start: fShortMenu;
  grid-row-start: fMainRow;
}
.social-nets{
  grid-column-start: fSocialNets;
  grid-row-start: fMainRow;
}

.topics{
  grid-column-start: fTopics;
  grid-row-start: fMainRow;
}

.last-vid{
  grid-column-start: fLastVid;
  grid-row-start: fMainRow;
}

.social-icons-svg > li{
  display: inline-block;
  margin-left: 10px;
}

.social-icon-svg{
  width: 32px;
  height: 32px;
  fill: #f6f6f6;
}

.social-icon-svg:hover{
  fill: #8bd4d0;
}

.video-container {
  cursor: pointer;
  height: 94px;
  width: 180px;
  background-image: url("../img/video_thumb.jpg");
}

.video-container:hover {
  opacity: 0.7;
}
.copy-ribbon{
  background-color: #768f9f;
}

.copy-ribbon > p{
  color: #f6f6f6;
  text-align: center;
  padding: 15px 0;
}

.article{
  display: grid;
  grid-template-columns: 120px [artMainCol] auto 120px;
  grid-template-rows: 20px [artContent] auto 40px [artCmd] auto 20px;
}

.article-content{
  grid-column-start: artMainCol;
  grid-row-start: artContent;
}

.post-commands{
  grid-column-start: artMainCol;
  grid-row-start: artCmd;
  display: grid;
  grid-template-columns: [cmd-left] auto auto [cmd-right] auto;
}

.prev-post, .next-post{
  color: #3f4a6e;
  font-size: 16px;
}

.prev-post{
  justify-self: start;
  grid-column-start: cmd-left;
}

.next-post{
  justify-self: end;
  grid-column-start: cmd-right;
}

.post-cmd-icon{
  fill: #3f4a6e;
  height: 12px;
  width: 12px;
}

.prev-post:hover .post-cmd-icon,
.next-post:hover .post-cmd-icon{
  color: #8bd4d0;
  fill: #8bd4d0;
}

/*pagina blog*/

.blog-section{
  display: grid;
  grid-template-columns: 50px [b-all-posts] 785px 20px [b-sidebar] auto 50px;
  grid-template-rows: 40px [b-page-content] auto  20px [b-pags] auto 40px;
}

.blog-posts-list{
  grid-column-start: b-all-posts;
  grid-row-start: b-page-content;
  display: grid;
  grid-auto-rows: 310px;
  row-gap: 10px;
}

.mini-post{
  display: grid;
  grid-template-columns: [miniPostColImg] 310px 20px [miniPostColInfo] 310px;
  grid-template-rows: [miniPostRowTitle] auto [miniPostRowTags] 20px [miniPostRowShort] auto;
  align-items: center;
}

.post-img.postImgOnBlogPage{
  grid-column-start: miniPostColArea;
  grid-row-start: 1;
  grid-row-end: 4;
  width: 310px;
  height: 310px;

}

.post-title.postH3OnBlogPage{
  grid-column-start: miniPostColInfo;
  grid-row-start: miniPostRowTitle;
  align-self: end;
}

.post-tags.postTagsOnBlogPage{
  grid-column-start: miniPostInfo;
  grid-row-start: miniPostRowTags;
}

.post-sneak.postParrOnBlogPage{
  grid-column-start: miniPostColInfo;
  grid-row-start: miniPostRowTitle;
  align-self: start;
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.5;
}

.blog-sidebar{
  grid-column-start: b-sidebar;
  grid-row-start: b-page-content;
  width: 300px;
  display: grid;
  grid-template-rows: [sideBarFPosts] auto [sideBarFTopics] auto [sideBarFPics] auto;
  row-gap: 10px;
  align-content: start;
}

.sidebar-f-posts{
  grid-row-start: sideBarFPosts;
}

.sidebar-f-topics{
  grid-row-start: sideBarFTopics;
}

.sidebar-f-pics{
  grid-row-start: sideBarFPics;
}

.the-four-posts{
  font-size: 16px;
  display: block;
  height: 90px;
}

.topicsOnSidebar{
  font-size: 16px;
  height: 65px;
  width: 155px !important;
}

.sidebar-f-pics{
  display: grid;
  grid-template-columns: 72px 72px 72px 72px;
  grid-template-rows: 72px 72px;
  gap: 4px;
}

.paginator{
  grid-column-start: b-all-posts;
  grid-row-start: b-pags;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.paginator li a::before{
  display: flex;
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.paginator li a{
  font-size: 18px;
  color: #1e2335;
}

.prev-pag svg, .next-pag svg{
  fill: #3f4a6e;
  width: 14px;
  height: 14px;
}

.prev-pag:hover  svg, .next-pag:hover svg{
  color: #8bd4d0;
  fill: #8bd4d0;
}

.pag-disabled a,
.pag-disabled a svg,
.pag-disabled .prev-pag:hover svg,
.pag-disabled .prev-pag:hover svg{
  fill: #1e2335;
  cursor: default;
}

.paginator li a:hover{
  font-weight: bold;
}

/* pagina contacto */

.contact{
  display: grid;
  grid-template-columns: auto [con-form] 960px auto;
}

.contact-form{
  grid-column-start: con-form;
  display: grid;
  grid-template-columns: [con-col-1] auto 20px [con-col-2];
  grid-template-rows: 40px [row-form-1] auto 20px [row-form-2] auto 20px [row-form-3] auto 20px [row-form-4] auto 20px [row-form-5] auto 40px;
}

.cf-col1{
  grid-column-start: con-col-1;
}

.cf-col2{
  grid-column-start: con-col-1;
}

.cr-row1{
  grid-row-start: row-form-1;
}

.cr-row2{
  grid-row-start: row-form-2;
}

.cr-row3{
  grid-row-start: row-form-3;
  grid-column: 1/ -1;
}

.cr-row4{
  grid-row-start: row-form-4;
}

.cr-row5{
  grid-row-start: row-form-5;
}

.input-control{
  min-height: 40px;
  height: 40px;
  width: 470px;
  line-height: 1;
}

.input-control.textarea{
  height: 200px;
  /*width: 960px;*/
}

.input-message{
  color: #1e2335;
  font-style: italic;
  font-size: 15px;
}

.input-control.error input, 
.input-control.error textarea{
  border: 2px solid #ff0000;
}